

html{
    /* overflow: hidden; */
}

body{
    /* position: fixed;
    height: 100%;
    width: 100%;
    overflow-y: auto; */
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: initial;
}

a{
    padding: initial;
    text-decoration: none;
    color: steelblue;
}

p{
    height: initial;
    margin: initial;
}

#top_title {
    display: none;
}

#globalWrapper, #content {
    position: absolute;
    width: 100%; 
    height: 100%;
    border: 0px;
    background-color: white;
    margin: 0px;
    padding: 0px;
    line-height: normal;
    font-size: initial;
    font-family: initial;
}





/* global css */

.part{
    margin-top: 40px;
}


.part-title{
    font-size: 25px;
    margin-bottom: 15px;
    color: steelblue;
}

.innerpart{
    margin-top: 20px;
}

.illustration{
    margin: 20px auto;
}

.illust-image-wrapper{
    width: 350px;
    margin: auto;
}


.illust-image{
    width: 100%;
    background-color: whitesmoke;
}


.undertext{
    width: fit-content;
    margin: auto;
    font-size: 18px;
    color: gray;
}

.table{
    margin: 10px auto;
    width: fit-content;
    border-collapse: collapse;
}


.tabledata{
    border: 1px solid black;
    padding: 10px;
    text-align: center
}

.tablehead{
    border: 1px solid black;
    padding: 10px;
}


.gallery{
    width: 95%;
    margin: 30px auto;
}


.gallery-image{
    margin: auto;
}

.weight-font{
    font-weight: 600;
}

.reference{
    word-break: break-all;
    margin-top: 20px;
}